.text {
  margin-top: 140px;
}
.font {
  font-size: 50px;
}
.background {
  background-color: #f4fafd;
}
.card2 {
  margin-top: 150px;
  margin-bottom: 120px;
}
.ready {
  font-size: 70px;
  font-weight: bold;
}
.my {
  margin-top: 120px;
  margin-bottom: 10px;
}
.star {
  color: orange;
}
.grid {
  margin-bottom: 180px;
}
